/**
 *
 * Font Variables
 *
 */

/*--Font family--*/
$fontLato: 'Lato', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontMontSerrat: 'Montserrat', sans-serif;
$fontPoppins: 'Poppins', sans-serif;

/*--Font sizes--*/
$fontSmall: 13px !default;
$fontBase: 16px !default;
$fontMedium: 20px !default;
$fontLarge: 26px !default;
$fontXLarge: 42px !default;
$fontXXLarge: 68px !default;
$fontHuge: 110px !default;
